@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Righteous&display=swap');


.encabezado {
  background: url("../imagenes/WhatsApp\ Image\ 2023-02-19\ at\ 5.41.50\ PM.jpeg");
  height: 1000px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  width: 100%;
  opacity: 0.90;
}

.titulohome {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  color: rgb(7, 7, 7);
  background-color: transparent;
  text-shadow: 2px 2px 2px #ffffff;
}

.subti-encabezado {
  background-color: transparent;
  font-size: 30px;
  color: rgb(7, 7, 7);
  text-shadow: 2px 2px 2px #ffffff;
}

.cursos-seccion {
  display: flex;
  justify-content: center;
  gap: 4 rem;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 4rem auto;
  padding: 0 4rem;
}

article {
  display: block;
  width: 150%;
  max-width: 1100px;
  margin: auto;

}

.card:hover {
  box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
  transform: translateY(-3%);

}

.card {
  max-width: 36rem;
  border-radius: 0.5rem;
  background: var(--secundario);
  box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
  transition: all 400ms ease;
  margin-bottom: 50px ;

}

.card figure {

  width: 100%;
  display: block;
  max-width: 1100px;
  margin: auto;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;

}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 2%;

}

img {
  max-width: 100%;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;

}


.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .contenido h3 {
  font-size: 2.5 rem;
  color: rgba(187, 135, 96, 255);
  text-shadow: 2px 2px 2px #fc9904bd;
}

h3 {
  display: block;
  font-size: 1.60em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;


}

.card .contenido p {
  line-height: 1.5;
}

p {
  color: black;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.card .contenido a {
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1.5rem auto;
  color: rgba(187, 135, 96, 255);
  border-radius: 0.5rem;
  border: 1px solid;
  font-size: 1.8rem;
}

.boton {

  border: 1px solid rgba(255, 241, 241, 255);
  padding: 5px;
  background-color: rgba(255, 241, 241, 255);
  text-decoration: none;
  border-radius: 100px;
  text-shadow: 2px 2px 2px #fc9904bd;

}

