body{
  background-image: url(../imagenes/tula.jpg);
  height: 600px;
  background-size: cover;
  
}
.fila{
  display: flex;
  height: 80vh;
  align-items: center; 
  width: 100%;
}

.columna{
  flex-basis: 50%;
  margin: 40px;
  
}

.nombrepri{
  color:#fff1f1;
  font-size: 200px;
}
.descrip{
  color: #fff;
  font-size: 40px;
  line-height: 35px;
}


.columnacard{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.contenedor1 figure{
  position: relative;
  width: 350px;
  height:350px;
  border-radius:  10px;
  cursor: pointer;
  overflow: hidden;
  margin: 15px;
  
}

.contenedor1 figure img{
  transition: all 500ms ease-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor1 figure .capa{
  position: absolute;
  top: 0;
  background: #fff;
  opacity: 0;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
}
.contenedor1 figure:hover> .capa{
  opacity: 1;
  visibility: visible;
}

.contenedor1:hover > .capa h3{
  font-size: 30px;
  
} 

.contenedor1 figure .capa h3{
  color:#4f0e0e;
  transition: all 500ms ease-out;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
} 

.contenedor1 figure .capa p{
  color:#4f0e0e;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
}


.contenedor1 figure:hover img{
  transform: scale(1.3);
  
}
.contenedor2 figure{
  position: relative;
  width: 350px;
  height: 350px;
  border-radius:  10px;
  cursor: pointer;
  overflow: hidden;
  margin: 15px;
  
}

.contenedor2 figure img{
  transition: all 500ms ease-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  

}

.contenedor2 figure .capa{
  position: absolute;
  top: 0;
  background: #fff1f1;
  opacity: 0;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
}
.contenedor2 figure:hover> .capa{
  opacity: 1;
  visibility: visible;
}

.contenedor2:hover > .capa h3{
  font-size: 100px;

} 

.contenedor2 figure .capa h3{
  color: #4f0e0e;
  transition: all 500ms ease-out;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
} 

.contenedor2 figure .capa p{
  color:#4f0e0e;
  font-size: 22px;
  text-align: justify;
  padding: 20px;
}

.contenedor2 figure:hover img{
  transform: scale(1.3);

}

@media screen and (max-width: 1650px ) {
    .fila {
      width: 100%;
      flex-direction: column;
      padding: 20px;
      margin-left: 20px;
      }
    .body {
      width: 100%;
    }
    .footer {
      width: 100%;

}
}
/*
@media (max-width: 768px) {
  body {
    background-size: contain;
    height: auto;
  }
  .fila {
    flex-direction: column;
    height: auto;
  }
  .columna {
    margin: 20px;
  }
  .nombrepri {
    font-size: 50px;
  }
  .descrip {
    font-size: 15px;
    line-height: 20px;
  }
  .contenedor1 figure,
  .contenedor2 figure {
    width: 150px;
    height: 150px;
  }
  .contenedor1 figure img,
  .contenedor2 figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .contenedor1 figure .capa h3,
  .contenedor2 figure .capa h3 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .contenedor1 figure .capa p,
  .contenedor2 figure .capa p {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    height: 600px;
  }
  .fila {
    height: 100vh;
  }
  .columna {
    margin: 40px;
  }
  .nombrepri {
    font-size: 100px;
  }
  .descrip {
    font-size: 20px;
    line-height: 15px;
  }
  .contenedor1 figure,
  .contenedor2 figure {
    width: 220px;
    height: 220px;
  }
  .contenedor1 figure img,
  .contenedor2 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contenedor1 figure .capa h3,
  .contenedor2 figure .capa h3 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .contenedor1 figure .capa p,
  .contenedor2 figure .capa p {
    font-size: 15px;
    padding: 20px;
  }
}
*/