/* cover */
.cover {
  width: 100%;
  padding-bottom: 60px;
  font-family: 'Poppins', sans-serif;
  margin-top: 200px;
}

.container_cover {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cover .container_info {
  max-width: 400px;
  margin-top: 40px;
  z-index: 2;
}

.cover h1 {
  max-width: 400px;
  font-size: 35px;
  font-weight: 900;
  color: #4f0e0e;
}

.cover h2 {
  font-size: 40px;
  font-weight: 900;
  color: #bb8760;
}

.container_image {
  position: relative;
}

.container_image img {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 600px;
  animation: move_img 6s ease-in-out infinite;
}

@keyframes move_img {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
body{
  background: #fff6f1;
}

.container__card{
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card__father{
  margin: 20px;
  perspective: 1000px;
}

.card__father:hover .card{
  transform: rotateY(180deg);
}


.card{
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}

.card__front{
  background-size: cover;
  background-position: center;
}


.card__front,
.card__back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.card__back{
  transform: rotateY(180deg);
  background: white;
}

.body__card_front{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
}

.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  border-radius: 20px;
}

.body__card_back{
  padding: 40px;
  text-align: center;
  transform: translateZ(60px);
}

.body__card_back p{
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-size: 15px;
}

.body__card_back input{
  font-family: 'Poppins', sans-serif;
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}

.body__card_back input:hover{
  box-shadow: 1px 1px 30px 0px #449de6;
}
/*Cards*/
.container-card_cursos{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card_cursos{
	width: 527px;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card_cursos:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card_cursos img{
	width: 100%;
	height: 210px;
}
.card_cursos .contenido-card{
  width: 100%;
	padding: 15px;
	text-align: center;
}
.card_cursos .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card_cursos .contenido-card p{
  font-family: 'Poppins', sans-serif;
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card_cursos .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card_cursos .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
/* RESPONSIVE */

@media only screen and (min-width:320px) and (max-width:768px){

  .container_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
	.container-card_cursos{
		flex-wrap: wrap;
	}
	.card_cursos{
    flex-wrap: wrap;
		margin: 15px;
    width: 720px;
	}
  .nav{
    display: none;
  }
  .card_cursos{
    width: 527px;
  }
  .card_cursos img{
    width: 100%;
    object-fit: cover;
  }
  .cover{
    padding: 0px;
  }
  .container_cover {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cover .container_info{
    margin-top: 0;
    text-align: center;
  }
  .container_cover .container_image{
    margin-top: 400px;
  }
  h1{
    display: inline-block;
    align-self: center;
    text-align: center;
  }
  h2{
    margin-top: 50px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container_header{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .logo{
    width: 100px;
    height: 100px;
    align-self: center;
  }
  .container_nav{
    background-color: #FFF0F1 ;
    width: 100%;
  }
  .select{
    padding: 8px;
  }
  nav ul li{
    margin: 10px;
  }

}
/*Fin-Cards*/